body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   font-family: sans-serif;
   overflow: auto;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, #e91e63, #ff9800);
}

.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}
.box {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -300px;
}
.container {
  top: 50%;
  left: 50%;
  margin-top: 20px;
  width: 200%;

}
img {
  width: 50px;
  height: 50px;
}
.wrap {
  width: 300px;
  position: relative;
  left: 70%;
  font-size: 20px;
}

.wrap img {
float: left;
}
h1 {
  font-style: italic;
  font-family: cursive;
  color: #808080;

}
.wrap h1 {
line-height: 50px;
}

fieldset, legend {
  margin: 0;
  padding: 0;

}

fieldset {
  border: thin solid white;
  margin-top: 9px;
  padding: 2em;
  padding-right: 2em;
  width: 155%;
  border-radius: 25px;
  border: 2px solid #808080;
  background:#f0911d;
  box-shadow: 10px 10px 10px #000;
  margin-bottom: 25px;
}
legend {
  font-weight: bold;
  float: left;
  margin-bottom: .5em;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}
form {
  display: flex; /* 2. display flex to the rescue */
  flex-direction: row;
}
input {
  position: relative;
  display: block;
  font-size: 20px;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 25px;
  transition: .5s;
}
input[type="text"] {
  background: #fff;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  margin: 10 10 10 10;
}
button {
  position: relative;
  left: -10px;
  top: 1px;
  margin-left: 15em;
  text-align: center;
  border: none;
  width: 150px;
  height: 50px;
  outline: none;
  cursor: pointer;
  background: #ffc107;
  color: #fff;
}
input[type="submit"]:hover {
  background: #ff5722;
}
#logo {
  height: 70px;
  width: 70px;
  border:1px solid #021a40;
  float: right;
}
#title {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 35px;

}
h2 {
    font-size: 30px;
    color: #000000;
    font-family: cursive;
}
